@import 'tailwindcss';

:root {
  --max-tables-per-row: 3;
  --gap-between-tables: 1rem;
  --table-width: calc(
    (100% / var(--max-tables-per-row)) -
      (var(--gap-between-tables) * (var(--max-tables-per-row) - 1))
  );
}
